@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --bg: #152533;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);

}

.maincard {
    position: relative;
    transition: 0.5s;
    height: 100px;
    transition-delay: 0.5s;
}
.maincard.active {
    height: 450px;
    transition-delay: 0s;
}
.maincard .user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 60px 40px 30px;
    background: #2196f3;
    border-radius: 10px;
}
.maincard .user .imgBox {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid #fff;
    overflow: hidden;
    transition: 0.5s;
    z-index: 10;
}

.maincard .user .imgBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.maincard .user .content {
    position: relative;
    text-align: center;
}

.maincard .user .content p {
    font-size: 1.2em;
    line-height: 1.05em;
    font-weight: 600;
    color: #fff;
}
.maincard .user .content p span {
    font-size: 0.75em;
    font-weight: 400;
}

.maincard .user .toggle {
    position: absolute;
    bottom: 0;
    width: 120px;
    padding: 5px 15px;
    background: #fff;
    border-radius: 30px;
    transform: translateY(50%);
    border: 6px solid var(--bg);
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    transition: 0.5s;

}

.maincard .user .toggle::before {
    content: "Click me!";
}

.maincard.active .user .toggle {
    background: #ff4383;
    color: #fff;
}

.maincard.active .user .toggle::before {
    content: "Close";
}

.maincard .list {
    /* padding-inline-start: 0 !important; */
    position: relative;
    top: 30px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.maincard.active .list {
    height: 325px;
}

.maincard .list li {
    list-style: none;
    /* width: 100%; */
    min-height: 100px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0);
    padding: 10px 30px;
}

.maincard.active .list li {
    opacity: 1;
    transform: scale(1);
    transition-delay: calc(0.25s * var(--i));
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.maincard .list li a {

    display: flex;
    align-items: center;
    gap: 10px;
}

.maincard .list li a .iconBox {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--clr);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.maincard .list li a .iconBox i {
    color: #fff;
    font-size: 1.5em;
}

/* .maincard .list li a p {
    color: #666;
    font-size: 1.1em;
} */

.maincard .list li a:hover p {
    color: #111;
}

a {
    text-decoration: none;
    color: #666;
    font-size: 1.1em;
}

#firstImg {
    width: 200px; /* Adjust the width as desired */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    display: block; /* Ensures proper spacing and alignment */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 5px; /* Apply a circular border to make it more visually appealing */
    border: 2px solid #ccc; /* Add a border for a decorative effect */
    margin-bottom: 15px;
}